@charset "UTF-8";

body {
	    text-align: center; /* 수평 가운데 정렬 */
	    display: flex;
	    flex-direction: column;
	    justify-content: center; /* 수직 가운데 정렬 */
	    align-items: center;
	    margin: 0; /* body의 기본 마진 제거 */
	}
	
	.right {
		text-align: right;
	}
	
	.left {
		text-align: left;
	}
	
	/* div 확인용*/
	/* * {
		border: 1px solid #000;
	} */
	
	.row {
		margin-left: 0px;
	}
	
	aside {
		float: left;
		width: 15%;
		border-top: 2px solid gray;
	}
	
	section {
		flex: 1;
		width: 85%;
		min-height: 300px;
		border-top: 2px solid gray;
		border-left: 2px solid gray;
		float: right;
		justify-content: center;
		align-items: center;
	}
	
	#wrapper {
		width: 100%;
	}
	
	#bottom{
		clear: both;
	}
	
	#headerTag {
		width: 100%;
		margin-left: 0px;
		padding-left: 10px;
	}
	
	.custom-checkbox {
    	width: 20px;
	   	height: 20px;
	}
	
	.table {
		width: 97%;
		margin: 0px 0px 0px 20px;
	}
	
	tbody {
		cursor: pointer;
	}