@charset "UTF-8";

	#labelDiv {
		width: 150px;
	}
	
	#inputDiv {
		width: 200px;
		align-items: baseline;
		display: flex;
	}
	
	.form-control {
		width: 120px;
		float: left;
	}
	
	button {
		margin-top: 50px;
		width: 400px;
		height: 50px;
	}
	
	input {
		text-align: right;
	}